<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".AutofillTestActivity"
            android:exported="true"
            android:label="Autofill test" />

        <activity
            android:name=".NativeLoginTestActivity"
            android:exported="true"
            tools:targetApi="o"
            android:label="Native login test" />

        <activity
            android:name=".Argon2BenchActivity"
            android:exported="true"
            android:label="Argon2 bench" />
    </application>
</manifest>
